:root {
    --hero-bg-color: #1F2937;
    --accent-color: #3882F6;
    --primary-light-text-color: #F9FAF8;
    --secondary-light-text-color: #E5E7EB;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    margin: 0px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--secondary-light-text-color);
}

.content-container {
    width: 80%;            /* Fills 80% of the screen width */
    max-width: 1200px;     /* Prevents layout from getting too wide on giant monitors */
    margin-inline: auto;   /* Centers the element horizontally */
}

.header-section{
    background-color: var(--hero-bg-color);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img {
    filter: invert(90%);
}

.logo-name {
    font-weight: bolder;
    font-size: 24px;
    color: var(--primary-light-text-color);
}

.header-menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.hero-section{
    background-color: var(--hero-bg-color);
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 64px 0px;
    gap: 10%;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-light-text-color);
}

.hero-paragraph{
    color: var(--secondary-light-text-color);
    font-size: 18px;
    margin: 16px 0px;
}

.blue-button{
    margin-top: 16px;
    color: var(--secondary-light-text-color);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--accent-color);
    border: 1px solid var(--primary-light-text-color);
    border-radius: 5px;
    width: 130px;
    height: 42px;
}

.information-title {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.information-content{
    padding: 64px 0px;
}

.card-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 64px 0px;
}

.illustration-card {
    max-width:min-content;
}

.carousel-image{
    border: 1px solid var(--hero-bg-color);
    border-radius: 16px;
}

.carousel-text {
    text-align: center;
    color: gray;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 64px 0px;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin: 16px 0px;
}

.call-to-action-box {
    background-color: var(--accent-color);
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--secondary-light-text-color);
    min-height: 250px;
    margin: 100px auto;
    padding: 16px;
    flex-wrap: wrap;
}

.call-to-action-title {
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-text {
    font-weight: 300;
}